<!DOCTYPE html>
<html>
<head>
	<title>图书管理员-借阅查询</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/style/adMain.css">
   <link rel="stylesheet" type="text/css" href="/static/style/adCheckBook.css">
	<script type="text/javascript" src="/static/script/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
	   $(document).ready(function() {
         var left_li= $(".left ul li:eq(5)");
	   	    left_li.css("color","#FFF");
          left_li.css("background-color","#BBCAF1");
          $(".left ul").find('li:eq(5)').children(".trig").css('display', 'block');
          $(".table tbody tr:odd").css("backgroundColor","#E3F2F5");
	   });
	</script>
</head>
<body>
   <div class="ad_page">
   	<div class="header">
   		<img src="/static/images/logo.png">
   		<div class="state">
   			<div class="ad_name"><div class="fa_i"><i class="fa fa-user"></i></div><a href="/static/html/adPersonal.html">test1</a></div>
        <div class="out"><a href="/static/html/index.html">退出</a></div>
   		</div>
   		<div class="clear"></div>
   	</div>
   	<div class="content">
   		<div class="left">
   			<ul>
               <a href="adBorrowBook"><li>读者借书<div class="trig"></div></li></a>
               <a href="adReturnBook"><li>读者还书<div class="trig"></div></li></a>
               <a href="adAddBook"><li>新书入库<div class="trig"></div></li></a>
               <a href="adOutBook"><li>图书出库<div class="trig"></div></li></a>
               <a href="adAlterBook"><li>修改图书信息<div class="trig"></div></li></a>
               <a href="adCheckBook"><li>查阅借阅记录<div class="trig"></div></li></a>
               <a href="adSearchBook"><li>查阅图书信息<div class="trig"></div></li></a>
               <a href="adPersonal"><li>管理员中心<div class="trig"></div></li></a>
   			</ul>
   		</div>
   		<div class="right">
      <!-- class="ad_data"的div中是图书管理员系统的切换部分 -->
   			<div class="ad_data">
   				 <div class="search">
                 <form method="post" action="adCheckBookdata">
                    <input type="text" value="图书名" name="adSearchjl" onfocus="if(value=='图书名') {value=''}" onblur="if (value=='') {value='图书名'}" />
                     <input class="btn" type="submit" value="搜索">
                 </form>
                </div>
                      <div class="table_div">
                     <table class="table">
                     <thead>
                        <tr>
                           <th class="tdOne">图书编号</th>
                           <th>图书名称</th>
                           <th class="tdTwo">作者</th>
                           <th class="tdTwo">译者</th>
                           <th class="tdTwo">价格</th>
                           <th>出版社</th>
                           <th class="tdOne">出版日期</th>
                           <th>ISBN编码</th>
                           <th class="tdTwo">入库者</th>
                           <th class="tdOne">借阅号</th>
                           <th class="tdOne">应还日期</th>
                           <th class="tdOne">实还日期</th>
                        </tr>
                     </thead>
                     <tbody>
                         <tr>
                           <td>{$infodata.Bookid}</td>
                           <td>{$infodata.BookName}</td>
                           <td>{$infodata.Author}</td>
                           <td>{$infodata.Translator}</td>
                           <td>{$infodata.Price}</td>
                           <td>{$infodata.Publishcompany}</td>
                           <td>{$infodata.Comeuptime}</td>
                           <td>{$infodata.Isbncode}</td>
                           <td>{$infodata.EnteringMen}</td>
                           <td>{$data.BorrowID}</td>
                           <td>{$data.ShouldTime}</td>
                           <td>{$data.ReturnTime}</td>
                        </tr>
                        </tbody>
                     </table>
                     <table class="table">
                        <thead>
                          <th>借阅号</th>
                          <th>图书名</th>
                          <th>应还日期</th>
                          <th>实还日期</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{$data.BorrowID}</td>
                            <td>{$data.Bookname}</td>
                            <td>{$data.ShouldTime}</td>
                            <td>{$data.ReturnTime}</td>
                          </tr>
                        </tbody>
                     </table>
                  </div>
                 
   			</div>
   		</div>
   		<div class="clear"></div>
   	</div>
   </div>
</body>
</html>