<!DOCTYPE html>
<html>
<head>
    <title>系统管理员-查看管理员信息</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/adminMain.css">
    <link rel="stylesheet" type="text/css" href="/static/style/searchTable.css">
    <script type="text/javascript" src="/static/script/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".left ul li:eq(5)").css("color","#FFF");
            $(".left ul li:eq(5)").css("background-color","#B78DE7");
            $(".left ul").find('li:eq(5)').children(".trig").css('display', 'block');
            $(".table tbody tr:odd").css("backgroundColor","#DFF0D8");
        });
    </script>
</head>
<body>
<div class="ad_page">
    <div class="header">
        <img src="/static/images/logo.png">
        <div class="state">
            <div class="ad_name"><div class="fa_i"><i class="fa fa-user"></i></div><a href="/static/html/adminPersonal.html">管理员01</a></div>
            <div class="out"><a href="/static/html/index.html">退出</a></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="left">
            <ul>
                <a href="adminAddAd"><li>录入新读者<div class="trig"></div></li></a>
                <a href="adminOutReader"><li>删除读者<div class="trig"></div></li></a>
                <a href="adminAlterReader"><li>修改读者信息<div class="trig"></div></li></a>
                <a href="adminAddAd"><li>录入图书管理员<div class="trig"></div></li></a>
                <a href="adminOutAd"><li>删除图书管理员<div class="trig"></div></li></a>
                <a href="adminAlterAd"><li>修改管理员信息<div class="trig"></div></li></a>
                <a href="adminSearchReader"><li>查看读者信息<div class="trig"></div></li></a>
                <a href="adminSearchAd"><li>查看管理员信息<div class="trig"></div></li></a>
                <a href="adminPersonal"><li>管理员中心<div class="trig"></div></li></a>
            </ul>
        </div>
        <div class="right">
            <!-- class="ad_data"的div中是系统管理员系统的切换部分 -->
            <div class="ad_data">
                <div>
                    <div class="table_div">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>用户名</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $data as $value}
                            <tr>
                                <td>{$value.Adnum}</td>
                                <td>{$value.Adname}</td>
                                <td>{$value.Adphone}</td>
                                <td>{$value.Ademail}</td>
                                <td><a href="adminAlterDetailAd?id={$value.Adid}">点击修改</a></td>
                                <td><a href="url">点击删除</a></td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>